node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
assets/pokemonTypes/download.py
assets/pokemonTypes/filenames.txt
assets/pokemonTypes/xD.txt
